{% extends 'app.html.twig' %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <h1 class="card-title">Résultats de recherche</h1>
            <ul>
                {% if usersList != null %}
                    {% for user in usersList %}
                        <li>{{ user[0].username }} - {{ user.distance }} kms</li>
                    {% endfor %}
                    {% else %}
                        <p>Aucun résultats trouvés avec "{{ keyword }}"</p>
                {% endif %}
            </ul>
        </div>
    </div>
{% endblock %}