<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">Meetlight</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('homepage') }}">Accueil <span class="sr-only">(current)</span></a>
            </li>
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            {% if is_granted("ROLE_ADMIN") %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('board') }}">Admin</a>
                </li>
            {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('fos_user_security_logout') }}"><i class="fas fa-sign-out-alt"></i></a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>